<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style> 
        body
        {
            background-image: url("https://helpdeskgeek.com/wp-content/pictures/2021/02/laptop-accessories.jpeg");
            
        }</style>
</head>

<body>
    <h1>Search product information</h1>
    <%if(count==0){%>
        <h3>No product found</h3>
        <%}else{%>
            <h3>Search product :
                <%=data.product_id%>
            </h3>
            <h3>Search name:
                <%=data.name%>
            </h3>
            <h3>Search  description:
                <%=data.description%>
            </h3>
            <h3>Search price:
                <%=data.price%>
            </h3>
            <h3>Search quantity:
                <%=data.quantity%>
            </h3>
            <%}%>

                <form action="/search" method="post">
                    <label for="id">ID:</label>
                    <input type="number" name="id" value="id" placeholder="Enter product ID">
                    <input type="submit" value="Submit">
                </form>
                <p>
                    <a href="http://localhost:8080/ ">|Go home|</a></p>
</body>

</html>